body {
    background-color:#e6f1ff;
    font-family: 'Lato', sans-serif;
}

.intro{
    margin:15%;
}
.social-media a{
    font-size: 30px;
    width:50px;
    height:20px;
    line-height:100px;
    text-align:center;
    color:black;
    margin: 15% 2%;
}

button{
  background-color: white;
}
